*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color:darkcyan;

}

.clock{
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'myFont';
    font-size: 20vh;
    color: chartreuse;
}

@font-face{
    font-family: 'myFont';
    src: url('./DS-DIGIB.TTF')format('truetype');
}
